Source: storcli
Section: admin
Priority: optional
Maintainer: Christopher Huhn <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.thomas-krenn.com/en/wiki/StorCLI

Package: storcli
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: megacli
Replaces: megacli
Provides: megacli
Description: Storage Command Line Tool, manages storage controllers
 Command line utility for Broadcom/LSI/Avago aso.
 MegaRAID storage controllers
