Source: debutant
Section: unknown
Priority: extra
Maintainer: Christopher Huhn, GSI <C.Huhn@gsi.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/debutant.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/debutant.git;a=summary

Package: debutant
Architecture: all
Depends: ${misc:Depends}
Recommends: cabextract, libdistro-info-perl
Description: packaging framework for proprietary software
 Debutant is a package building framework for
 * proprietary software that is shipped as binary only
 * and where redistribution is normally prohibited
.
 Debutant provides 'recipes' to package or repackage commercial software
 that cannot be included in the Debian archive.
 Currently recipes exist for:
 * Citrix receiver (icaclient)
 * FlexLM license server
 * IBMs TSM backup-archive client
 * SAPs java GUI sapgui
